back_logs/*.txt
back_logs/*.err
back_logs/*.out
back_results/*.h5
front_logs/*.txt
front_logs/*.err
front_logs/*.out
front_results/*.h5
const_front_logs/*.txt
const_front_logs/*.err
const_front_logs/*.out
const_front_results/*.h5
const_full_front_logs/*.txt
const_full_front_logs/*.err
const_full_front_logs/*.out
const_full_front_results/*.h5
front_avg_logs/*.txt
front_avg_logs/*.err
front_avg_logs/*.out
front_avg_results/*.h5
full_back_logs/*.txt
full_back_logs/*.err
full_back_logs/*.out
full_back_results/*.h5
full_front_logs/*.txt
full_front_logs/*.err
full_front_logs/*.out
full_front_results/*.h5
full_front_avg_logs/*.txt
full_front_avg_logs/*.err
full_front_avg_logs/*.out
full_front_avg_results/*.h5
full_total_logs/*.txt
full_total_logs/*.err
full_total_logs/*.out
full_total_results/*.h5
